@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  --Primary-Cyan: hsl(180, 66%, 49%);
  --Primary-Cyan-Hover: hsla(180, 66%, 54%, 0.774);
  --Primary-Dark-Violet: hsl(257, 27%, 26%);
  --Secondary-Red: hsl(0, 87%, 67%);
  --Neutral-Gray: hsl(0, 0%, 75%);
  --Neutral-Grayish-Violet: hsl(257, 7%, 63%);
  --Neutral-Very-Dark-Blue: hsl(255, 11%, 22%);
  --Neutral-Very-Dark-Violet: hsl(260, 8%, 14%);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: red 1px solid;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

body{
  width: 100vw;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
}

p {
  color: var(--Neutral-Grayish-Violet);
  width: 90%;
  margin: 0 auto;
}

    /* HEADER */
header {
  padding-bottom: 8rem;
}

nav {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

    /* DROPDOWN MENU */
.hamburger-btn {
  fill: var(--Neutral-Grayish-Violet);
}

.menu {
  position: absolute;
  top: 5rem;
  width: calc(100vw - 2rem);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--Primary-Dark-Violet);
  transform: translateY(-61%) translateX(47%) scale(0);
  transition: all 0.5s;
}

.menu.active {
  transform: translateY(0) translateX(0) scale(1);
}

.menu__item {
  margin: 1.2rem auto;
  width: fit-content;
  padding: .5rem 1rem;
  margin: auto;
  font-weight: 700;
  transition: color .3s;
}

.menu__item:nth-child(4) {
  padding-top: 1rem;
}

.menu__item:last-child {
  width: calc(100% - 2rem);
  background-color: var(--Primary-Cyan);
  border-radius: 1.5rem;
  margin-bottom: .5rem;
}

.menu__item:hover {
  color: var(--Neutral-Gray);
}

.menu__item:last-child:hover {
  color: var(--Neutral-Very-Dark-Violet);
  background-color: var(--Primary-Cyan-Hover);
}

.menu::after {
  content: "";
  height: 2px;
  background-color: var(--Neutral-Grayish-Violet);
  position: absolute;
  top: 58%;
  left: 1rem;
  right: 1rem;
  border-radius: .3rem;
}

.header-bg {
  width: 100vw;
  margin: 1.2rem auto 3rem;
}

h1 {
  width: 90%;
  margin: auto;
}

.header__intro--texts > p {
  margin: 1rem auto;
}

.get-started {
  background-color: var(--Primary-Cyan);
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: .75rem 2rem;
  border-radius: 2rem;
  transition: all .3s;
  cursor: pointer;
}

.get-started:hover {
  color: var(--Neutral-Very-Dark-Violet);
  background-color: var(--Primary-Cyan-Hover);
}


    /* MAIN */
main {
  background-color: rgb(240, 241, 246);
}

  /* FORM */
form {
  width: 90%;
  top: -4rem;
  margin: auto auto -4rem;
  padding: 1rem 0;
  position: relative;
  border-radius: .75rem;
  background-image: url(images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-color: var(--Primary-Dark-Violet);
}

form > input,
form > button {
  border: none;
  width: 90%;
  height: 2.5rem;
  border-radius: .5rem;
  padding: 0 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: var(--Neutral-Gray);
}

form > input {
  margin: auto auto 0.5rem;  
  transition: all .3s;
  color: var(--Neutral-Very-Dark-Violet);
}

form > input:focus {
  color: var(--Neutral-Very-Dark-Violet);
}

form > button {
  margin: .5rem auto auto;
  color: white;
  background-color: var(--Primary-Cyan);
  font-weight: 700;
  transition: all .3s;
  cursor: pointer;
}

form > button:hover {
  background-color: var(--Primary-Cyan-Hover);
  color: var(--Neutral-Very-Dark-Violet);
}

    /* FORM ERROR*/
form > input.error {
  border: 2px solid var(--Secondary-Red);
}

form > input.error::placeholder {
  color: var(--Secondary-Red);
}

span {
  display: none;
  font-style: oblique;
  text-align: left;
  font-size: 12px;
  width: max-content;
  color: var(--Secondary-Red);
  margin: -.4rem 0 1rem 1rem;  
}

span.error {
  display: block;
}

    /* INFO */
.info {
  margin-top: 4rem;
}

.info p {
  margin: 2rem auto 4rem;
}

.card {
  width: 90%;
  margin: 4rem auto;
  padding-bottom: 1rem;
  border-radius: .75rem;
  background-color: white;
}

.img__container {
  width: 100%;
  position: relative;
  top: -35px;
}

.card__picture {
  display: block;
  width: fit-content;
  background-color: var(--Primary-Dark-Violet);
  margin: auto;
  border-radius: 50%;
}

.card__img {
  padding: 1rem;
}

.card > h3 {
  margin: -30px auto 0;
}

.card > p {
  margin: 1rem auto;
  width: 95%;
}

    /* BOOST */
.boost {
  height: 50vh;
  background-color: var(--Primary-Dark-Violet);
  background-image: url(images/bg-boost-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.boost > h2 {
  color: white;
}

.boost > button {
  margin: 0 auto;
  width: fit-content;
}


    /* FOOTER */
footer {
  background-color: var(--Neutral-Very-Dark-Violet);
  padding: 2rem 1rem .5rem;
}

footer > svg {
  display: block;
  margin: auto;
}

.about {
  margin: 2rem auto;
}

.about > h3 {
  color: white;
  margin: 2rem;
}

.about > a {
  display: block;
  color: var(--Neutral-Gray);
  margin: .5rem auto;
  width: fit-content;
  padding: .5rem 1rem;
  transition: all .3s;
}

.about > a:hover {
  color: var(--Primary-Cyan);
}

.social > svg {
  fill: white;
  margin: 1rem .5rem 2rem;
  transition: all .3s;
  cursor: pointer;
}

.social > svg:hover {
  fill: var(--Primary-Cyan);
}

    /* TEMPLATES */
.result {
  width: 90%;
  background-color: white;
  border-radius: .75rem;
  margin: 1rem auto;
  padding: 1rem;
}

.long-link {
  width: 100%;
  overflow-x: hidden;
  color: var(--Neutral-Very-Dark-Violet);
  padding-left: 1rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid var(--Neutral-Grayish-Violet);
  text-align: left;
}

.short-link {
  color: var(--Primary-Cyan);
  margin: .5rem auto 1rem;
  text-align: left;
}

.copy-link {
  width: 100%;
  color: white;
  border: none;
  border-radius: .5rem;
  background-color: var(--Primary-Cyan);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  transition: all .3s;
  padding: .5rem 0;
  cursor: pointer;
}

.copy-link:hover {
  background-color: var(--Primary-Cyan-Hover);
  color: var(--Neutral-Very-Dark-Violet);
}

@media screen and (max-width: 500px) {
  .before-bar::before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 2rem;
    background-color: var(--Primary-Cyan);
    left: calc(50% - 5px);
    top: -2rem;
    z-index: 0;
  }
}

@media screen and (min-width: 500px) {
  body {
    overflow-x: hidden;
  }
  nav {
    padding: 2rem 0rem;
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: min-content 1fr;
  }
      /* DROPDOWN MENU */
  .hamburger-btn {
    display: none;
  }
  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    gap: 0;
    background-color: transparent;
    transform: translateY(0) translateX(0) scale(1);
    padding: 0;
  }
  .menu__item {
    color: var(--Neutral-Grayish-Violet);
    margin: auto;
    padding: .5rem;
  }
  .menu__item:nth-child(4) {
    padding-top: .5rem;
    margin-left: 40%;
    margin-right: .5rem;
  }
  .menu__item:last-child {
    color: white;
    width: auto;
    padding: 1rem 2rem;
    margin: auto;
    margin-right: 0;
  }
  .menu__item:hover {
    color: var(--Neutral-Very-Dark-Blue);
  }
  .menu::after {
    display: none;
  }
  /* HEADER INTRO */
  .header__intro {
    display: grid;
    grid-template-columns: 60% 1fr;
    width: 85%;
    margin: auto;
  }
  .header-bg {
    width: 50vw;
    order: 5;
  }
  .header__intro--texts {
    margin: auto;
    padding: 0;
    text-align: left;
  }
  h1 {
    font-size: 5rem;
    width: 100%;
  }
  .header__intro--texts > p {
    margin-left: 0;
    font-size: 1.5rem;
    width: 100%;
  }
    /* MAIN */
    /* FORM */
  form {
    width: 85%;
    height: 8rem;
    display: grid;    
    grid-template-columns: 85% 1fr;
    gap: 1rem;
    padding: 0 2rem;
    background-image: url(images/bg-shorten-desktop.svg);
    background-position: 0;
  }
  form > input,
  form > button {
    width: 100%;
    height: 3rem;
    margin: auto;
  }
    /* FORM ERROR */
  span {
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .3s;
  }
  span.error {
    transform: scale(1);
    bottom: .3rem;
    left: 1rem;
  }
    /* INFO */
  .info h2 {
    font-size: 2rem;
  }
  .info > p {
    width: 50%;
    font-size: 1.2rem;
  }
  .cards {
    width:85%;
    margin: auto;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .card {
    width: 100%;
    height: min-content;
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    padding-left: 2rem;
    text-align: left;
  }
  .card:nth-child(2) {
    margin: 35px auto;
  }
  .card:last-child {
    margin-top: 70px;
    margin-bottom: 0;
  }
  .img__container {
    top: -50px;
  }
  .card__picture {
    margin-left: 0;
  }
  .card > h3 {
    font-size: 1.5rem;
  }
  .card > p {
    margin: 1rem 0;
    line-height: 1.5rem;
    width: 100%;
  }
  .card:nth-child(2)::before,
  .card:nth-child(2)::after {
    content: "";
    display: block;
    background-color: var(--Primary-Cyan);
    position: absolute;
    height: 10px;
    width: 2rem;
    top: calc(50% - 5px);
    left: -2rem;
  }
  .card:nth-child(2)::after {
    left: 100%;
  }
      /* BOOST */
  .boost {
    height: min-content;
    padding: 3rem 0;
    background-image: url(images/bg-boost-desktop.svg);
    gap: 2rem;
  }
  .boost > h2 {
    font-size: 2rem;
  }
      /* FOOTER */
  footer {
    padding: 4rem 7.5vw;
    display: grid;
    width: 100%;
    grid-template-columns: 33% 1fr 1fr 1fr 33%;
  }
}
